[AWS]
KEY=YOUR-AWS-KEY
SECRET=YOUR-AWS-SECRET

[DWH]
DWH_CLUSTER_TYPE=multi-node
DWH_NUM_NODES=4
DWH_NODE_TYPE=dc2.large

DWH_IAM_ROLE_NAME=YOUR-ROLE-NAME
DWH_CLUSTER_IDENTIFIER=YOUR-CLUSTER-IDENTIFIER-NAME
DWH_DB=YOUR-DB-NAME
DWH_DB_USER=YOUR-USER
DWH_DB_PASSWORD=YOUR-PASSWORD
DWH_PORT=YOUR-PORT

